#pragma once
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace Piccolo{
    {{#class_defines}}template<>
    Json Serializer::write(const {{class_name}}& instance);
    template<>
    {{class_name}}& Serializer::read(const Json& json_context, {{class_name}}& instance);
    {{/class_defines}}
    {{#enum_defines}}template<>
    Json Serializer::write(const {{enum_name}}& instance);
    template<>
    {{enum_name}}& Serializer::read(const Json& json_context, {{enum_name}}& instance);
    {{/enum_defines}}
}//namespace
